.about-header {
    color: #2d2d2d;
    background-color: #f9e6f0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-family: Epilogue, Arial;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 27px;
    display: flex;
}

.flex-container-4 {
    height: 55%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1px;
    margin-bottom: 2px;
    display: flex;
}

.image {
    width: 195px;
    height: 195px;
    object-fit: cover;
}

.designer-full-name-m {
    margin-left: 1px;
}

.bio-text {
    margin-top: 5px;
    margin-left: 70px;
}